.header__logo {
    width: 16.1%;
    margin-left: 3px;
    padding-bottom: 40.6px;
}

@media screen and (max-width: 400px) and (min-width: 320px) {
    .header__logo {
        width: 32.5%;
        margin-left: 27px;
        margin-bottom: 31.6px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 400px) {
    .header__logo {
        width: 25%;
        margin-left: 6%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .header__logo {
        width: 20%;
    }
}
