.profile__user {
    position: relative;
}

.profile__user:hover {
    cursor: pointer;
}

.profile__user:hover:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.8);
    }


.profile__user:hover:before {
    top: 38%;
    left: 38%;
    position: absolute;
    z-index: 22;
    content: url('../../../images/Vector.png');
        }

        @media screen and (max-width: 500px) and (min-width: 320px) {
            .profile__user:hover:before {
                top: 42%;
                left: 47%;
            }
        }
        
        @media screen and (max-width: 769px) and (min-width: 500px) {
            .profile__user:hover:before {
                top: 45%;
                left: 49%;
            }
        }