.popup__container-img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: -50px;
    display: block;
    max-width: 816px;
}

@media screen and (max-width: 400px) and (min-width: 320px) {
    .popup__container-img {
        margin-top: -200px;
    }
}

