.element__like-button {
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 0;
    outline: none;
    padding-bottom: 15px;
    margin-right: -4%;
}

.element__like-button:hover {
    opacity: .6;
    transition-duration: .5s;
    cursor: pointer;
}