.popup__field {
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 13px;
}
/*
.popup__field:invalid {
    border-bottom: 1px solid red; 
}
*/
@media screen and (max-width: 532px) and (min-width: 320px) {
    .popup__field {
        padding-bottom: 12px;
        font-size: 12px;
        line-height: 15px;
    }
}